:root {
  --mainColor: hsla(191, 42%, 41%, 1);
  --mainColor-dark: hsla(191, 42%, 37%, 1);
  --mainColor-light: hsla(191, 42%, 41%, 0.85);
  --lightColor: hsla(0, 0%, 96%, 0.1);
  --darkColor: rgb(34, 33, 33);
  --whiteText: #F7F7F7;
  --alertLvl1: #C3364E;
  --alertLvl2: #F4A881;
  --alertLvl3: #F7F7F7;
  --alertLvl4: #92D1DD;
  --bodyBackground: #BEC1BE;
  --tooltipBorder: #c1c1c1;
  --tooltipBackground: #f4f4f4;
}
  /* background-color: #CA0020; */
  /* background-color: #BF2F4A; */

* {
  box-sizing: border-box;
}
* p{
  margin: 0;
  padding: 0;
}

body {
  margin: 10px 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.megaWrapper {
  padding: 20px 15px;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--bodyBackground);
  min-height: 82vh;
}

/* ---------------------- ALL Pages ---------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jaldi', sans-serif;
  font-size: 1.5rem;
  padding: 0 0 .25rem 0;
  margin: 0;
}
.headerImage {
  max-height: 3rem;
  width: auto;
}
.header{
  margin: 0;
}
.titleDiv {
  width: 100%;
  border-bottom: 2px solid #3D8696;
  padding: 0;
  margin: 0 0 1.2rem 0;
}
.taglineDiv{
  margin: 0 0;
}
.hidden {
  display: none;
}

/* ---------------------- NAV BUTTONS FLEXBOX ----------------------*/
.navButtonDiv{
  position: fixed;
  bottom: 3vh;
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

.navButtonDivIntro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 20px auto 30px auto;
}

.navButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: var(--mainColor);
  color: var(--whiteText);
  min-width: 200px;
  max-width: 250px;
  padding: 5px 0;
  border-radius: 0;
  margin-top: 15px;
  border: 2px solid var(--mainColor);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.ui-button-text-only:hover{
  padding: 5px 0;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor-dark);
  color: var(--whiteText);
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.ui-button-text-only:focus{
  padding: 5px 0;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor-dark);
  color: var(--whiteText);
}

.arrow {
  height: 50px;
  width: 50px;
  border: none;
  margin: 2px;
}

.arrow.back.active {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240back.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}

.arrow.back.active:hover {
  height: 54px;
  width: 54px;
  margin: 0px
}
.arrow.back {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240backgrey-50.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}
.arrow.next.active {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}
.arrow.next {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240grey-50.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}
.arrow.next.active:hover {
  height: 54px;
  width: 54px;
  margin: 0px
}

/* ---------------------- Intro Page ---------------------- */
.tagline {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  line-height: 1.6rem;
}

.taglineDiv {
  margin-top: 1rem;
}

.introPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.introPageImage {
  width: 95%;
  align-self: center;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.introPageText {
  line-height: 1.3rem;
  list-style: none;
  padding: 0;
  margin: 10px 5px 0 5px;
}

.introPageText li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
}
.introPageText li:before {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  background-image: url('./Media/pawprint.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}

/* .registerToSaveText {
  font-size: .6rem;
  margin: 0;
  padding: 0;
} */

/* ---------------------- Source Page ---------------------- */
.selectSourcePageDiv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectSourcePageImage {
  width: 100%;
  object-fit: cover;
  object-position: 50% 85%;
  height: 20vh;
  align-self: center;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.sourceQuestionText {
  text-align: center;
  margin: 15px auto;
}

.sourceButton {
  margin: 6px 0;
  width: 50%;
  border-radius: 0;
  padding: 8px 0;
  min-width: 200px;
  max-width: 300px;
  background-color: var(--lightColor);
  color: var(--darkColor);
  border: 2px solid var(--mainColor);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.sourceButton:hover {
  background: var(--mainColor-dark);
  color: var(--whiteText);
  border: var(--mainColor) 2px solid;
  padding: 8px 0;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.sourceButton:focus {
  background: var(--mainColor-dark);
  color: var(--whiteText);
  border: var(--mainColor) 2px solid;
  padding: 8px 0;
}

.ui-tooltip .ui-tooltip-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  color: var(--darkColor);
  font-size: 0.8rem;
  background-color: var(--tooltipBackground);
  border: 1px solid var(--tooltipBorder);
}


.moreInfoModal {
  display: inline-flex;
  padding-left: 5px;
}
.moreInfoModal:hover {
  cursor: pointer;
}

.ui-dialog {
  background-color: var(--tooltipBackground)
}
.ui-dialog-titlebar-close {
  font-size: 3rem;
}

/* ---------------------- feeling Page ---------------------- */
.feeling-question{
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 150%;
  font-weight: 700;
  text-align: center;
}
.feeling-array{
  width: 73%;
  margin: 0 auto 50px auto;
}
.feeling {
  width: 100%;
  margin-top: 12px;
}

.color-1{
  background-color: var(--alertLvl1);
  color: var(--whiteText);
}
.color-2{
  background-color: var(--alertLvl2);
  color: var(--darkColor);
}
.color-3{
  background-color: var(--whiteText);
  color: var(--darkColor);
}
.color-4{
  background-color: var(--alertLvl4);
  color: var(--darkColor);
}
.color-5{
  background-color: var(--mainColor);
  color: var(--whiteText);
}

.answer.feeling input[type="radio"]:checked + label {
  background-color:initial;
  color: inherit;
}
.answer.feeling input[type="radio"]:checked + label:after {
  top: 25%;
  left: 2%;
  height: 26px;
  width: 26px;
}

/* ---------------------- Question Page ---------------------- */
.basicQuestion{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1rem auto 50px auto;
}
.basicQuestion-Question{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  font-size: 150%;
  font-weight: 700;
  text-align: center;
}
.basicQuestion-Answers{
  margin-top: 1rem
}
.answer{
  width: 80%;
  margin: 0 auto;
}
.answer input[type="radio"] {
  display: none;
}

.answer label {
  width: 100%;
  display: block;
  border: 2px solid var(--mainColor);
  font-size: 120%;
  padding: 1rem;
  padding-left: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
  /* box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.35); */
  position: relative;
}
.answer input[type="radio"]:checked + label {
  background: var(--mainColor);
  color: var(--whiteText);
  /* box-shadow: 0px 0px 20px hsla(191, 42%, 41%, 0.75); */
}
.answer input[type="radio"]:checked + label:after {
    background-color: var(--whiteText);
    border: 2px solid var(--mainColor);
    content: url('./Media/check.svg');
    position: absolute;
    top: .6rem;
    left: -1rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, .75); */
}
/* ------------- ProgressBar ------------ */
.ui-progressbar{
  width: 95%;
  margin: 0 auto;
  background-color: var(--tooltipBackground);
  color: var(--whiteText);
}
/* .ui-progressbar-determinate{} */
.ui-progressbar-value{
  background-color: var(--mainColor);
}
/* .ui-progressbar-label{} */



/* ---------------------- Login/Registration Pages ---------------------- */
.portal-input{
  height: 40px;
  font-size: 14px;
  margin: 1.2rem 0;
  width: 100%;
  border-radius: 0;
}

.portal-label{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.navButtonDiv.portal {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin: 0 auto;
  margin-top: 2rem;
}
.navButtonDiv.back {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 1rem;
}

.ui-float-label input:focus ~ label,
.ui-float-label input.ui-state-filled ~ label,
.ui-float-label .ui-inputwrapper-focus ~ label,
.ui-float-label .ui-inputwrapper-filled ~ label {
  top:0.2rem;
  font-size:18px;
}
.user-portal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.login-div, .register-div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

Button.navButton.login {
  border: 2px solid var(--lightColor);
  padding: 6px 60% 6px 30%;
} 
.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.login.ui-button-text-only:hover{
  padding: 6px 60% 6px 30%;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor-dark);
  color: var(--whiteText);
}

Button.navButton.register {
  border: 2px solid var(--lightColor);
  padding: 6px 67% 6px 23%;
} 
.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.register.ui-button-text-only:hover{
  padding: 6px 67% 6px 23%;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor-dark);
  color: var(--whiteText);
}



/* ---------------------- GROWL INFO ---------------------- */

.ui-growl.ui-growl-bottomright {
	bottom: 10px;
  right: 40px;
  width: 15em;
}

.ui-growl-item-container {
  background-color: var(--darkColor);
}

.ui-growl-message {
	padding: .25em;
  margin: 0;
}

/* ---------------------- Conditional Statements ---------------------- */

.error{
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--tooltipBorder);
  background-color:var(--alertLvl1);
  margin-bottom: 1rem;
  color: var(--darkColor);
  font-style: italic;
}

/* ---------------------- Results Page ---------------------- */
.resultsPageDiv{
  width: 95%;
  margin: 0 auto;
  font-size: 18px;
}

.resultsColorImage {
  margin-top: 5px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 28vh;
}

.result-info{
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  border: 1px solid var(--bodyBackground);
  margin: 2rem 0;
}
  
.detailedResultsButton {
  width: 80%;
  border-radius: 0;
  background-color: var(--tooltipBackground);
  border: 2px solid var(--mainColor);
  color: var(--darkColor);
  margin: 8px 10%;
  font-size: 1rem;
  padding:10px 0;
  font-weight: 700;
  line-height: 1.5rem;
}
.detailedResultsButton:focus {
  box-shadow: none;
}

.fa-chevron-circle-down {
  margin-left: 10%;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.detailedResultsButton:hover {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
}
.ui-accordion-header.ui-widget.ui-state-default.ui-corner-all.detailedResultsAccordion:hover {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
}
.ui-accordion-content {
background-color: transparent;
}
.ui-accordion-header {
  border-radius: 0;
  background-color: var(--tooltipBackground);
  border: .5px solid var(--tooltipBorder);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkColor);
}
.ui-accordion-header:hover {
  background-color: var(--tooltipBackground);
  border: .5px solid var(--tooltipBorder);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkColor);
  /* box-shadow: none; */
}
.ui-accordion-header .ui-state-default .ui-corner-all .ui-state-active {
  background-color: var(--tooltipBackground)
}
.ui-accordion-content-wrapper .ui-accordion-content-wrapper-collapsed {
  background-color: (var(--tooltipBackground))
}
.ui-accordion-header-text {
  color: var(--darkColor)
}

.nav-results{
  width: 100%;
  margin-top: 1rem;
}
.result-id{
  font-size: 125%;
  font-weight: 700;
  /* border: green 1px solid; */
}
.result-rank{
  font-size: 135%;
  font-weight: 700;
  /* border: red 1px solid; */
}
.result-text{
  /* border:blue 1px solid; */
  margin-top: 20px
}

.result-feeling-question{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.result-feeling-array{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem auto;
}
.result-feeling{
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  min-width: 180px;
  font-size: 0.9rem;
}
.result-feeling label{
  margin: 0;
  border-bottom: none;
  padding: 7px 0;
}
.result-feeling-array .result-feeling  input[type="radio"]:checked + label {
  background-color:initial;
  color: inherit;
}
.result-feeling input[type="radio"]:checked + label:after {
    background-color: var(--whiteText);
    border: 1px solid var(--mainColor-dark);
    content: url('./Media/check.svg');
    position: absolute;
    top: 18%;
    left: 3%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.detailedResultsDiv {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

/* .ui-button:focus,
.ui-button:enabled:hover,
.ui-fileupload-choose:not(.ui-state-disabled):hover {
  outline: 0 none;
  border-color: #b2a266;
  background: #f7f3de;
  color: #3a3427; }

.ui-button:focus a,
.ui-button:enabled:hover a,
.ui-fileupload-choose:not(.ui-state-disabled):hover a {
  color: #3a3427; } */

/* .detailedResultsButton {
  width: 100%;
  border-radius: 0;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  color: var(--whiteText);
} */
/* .ui-button.ui-widget.ui-state-default.ui-corner-all.detailedResultsButton:hover{
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor-dark);
  color: var(--whiteText);
  font-size: 102%;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.detailedResultsButton:focus{
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor-dark);
  color: var(--whiteText);
} */

/* ---------------------- Media Queries ---------------------- */
/* @media all and (min-width: 375px) and (max-width: 768px){
  .navButtonDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    position: relative;
    bottom: auto;
  }
} */

@media all and (min-width: 768px) {
  body {
    margin: 30px 40px;
  }
  header {
    font-size: 1.75rem;
    margin: 0;
  }
  .navButtonDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    position: relative;
    bottom: auto;
  }
  .navButton {
    background-color: var(--mainColor-light);
  }

  .introPageDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .introPageImage {
    max-width: 55%;
  }
  .introPageText {
    margin-top: 30px;
    margin-left: 20px;
  }

  .selectSourcePageDiv {
    width: 100%;
  }
  .selectSourcePageImage {
    width: 80%;
    height: 40vh;
  }

  .ui-growl.ui-growl-bottomright {
    bottom: 150px;
    right: 50px;
    width: 15em;
  }

  .feeling-array{
    width: 50%;
    margin: 0 auto 50px auto;
  }

  .ui-progressbar{
    width: 85%;
    margin-top: 2rem;
  }

  .basicQuestion{
    width: 70%;
  }
  .basicQuestion-Question{
    margin: 2rem auto;
  }
  .answer, .feeling {
    width: 75%;
  }
  /* .answer label {
    padding:1rem;
  } */


  .resultsColorImage {
    height: 40vh;
  }
  .result-feeling label{
    border: 1.5px solid var(--mainColor);
    border-right: none;
    /* padding: 7px 0; */
  }
  .result-feeling{
    display: flex;
    flex-grow: 1;
    min-width: 50px;
  }
  .result-feeling-array{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .result-feeling input[type="radio"]:checked + label:after {
    left: 2%;
  }
  .answer.feeling input[type="radio"]:checked + label:after {
    top: 15%;
    left: 3%;
    height: 35px;
    width: 35px;
  }

  /* .megaWrapper {
    background-color: #3c849440;
  } */

  .login-div, .register-div{
    width: 40%;
  }
  .navButtonDiv.portal {
    width: 85%;
  }

  .ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.login.ui-button-text-only:hover{
    padding: 6px 60% 6px 40%;
  }
  Button.navButton.login {
    padding: 6px 60% 6px 40%;
  } 
  .ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.register.ui-button-text-only:hover{
    padding: 6px 67% 6px 33%;
  }
  Button.navButton.register {
    padding: 6px 67% 6px 33%;
  } 
}


/* ---------------------- Result Scale ---------------------- */
.scale-container{
  margin: 1rem auto;
  width:90%;
  height: 5vh;
  position: relative;
}
.scale{
  margin: 0 auto;
  width:90%;
  height:30px;
  display: flex;
  flex-direction:row;
  border: black 1px solid;
  overflow: hidden;
}
.scale-red{
  width: 50%;
  background-color: #A71A27;
}
.scale-yellow{
  width: 30%;
  background-color: #D49c38;
}
.scale-green{
  width: 30%;
  background-color: #116D60;
}

.paw {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url('./Media/pawprint-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top:-0.5rem;
}
.paw-red {
  background-image: url('./Media/pawprint-red.png');
}
.paw-yellow {
  background-image: url('./Media/pawprint-yellow.png');
}
.paw-green {
  background-image: url('./Media/pawprint-green.png');
}

