:root {
  --mainColor: hsla(191, 42%, 41%, 1);
  --mainColor-light: hsla(191, 42%, 41%, 0.85);
  --lightColor: hsla(0, 0%, 96%, 0.1);
  --darkColor: rgb(34, 33, 33);
  --whiteText: #F7F7F7;
  --alertLvl1: #C3364E;
  --alertLvl2: #F4A881;
  --alertLvl3: #F7F7F7;
  --alertLvl4: #92D1DD;
  --bodyBackground: #BEC1BE;
  --tooltipBorder: #c1c1c1;
  --tooltipBackground: #f4f4f4;
}
  /* background-color: #CA0020; */
  /* background-color: #BF2F4A; */

* {
  box-sizing: border-box;
}

body {
  margin: 30px 40px;
  font-family: Helvetica, Arial, sans-serif;
}

.megaWrapper {
  padding: 20px;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--bodyBackground);
}

/* ---------------------- ALL Pages ---------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jaldi', sans-serif;
  font-size: 1.2rem;
  padding: 0 0 .25rem 0;
  margin: 0;
}
.headerImage {
  max-height: 3rem;
  width: auto;
}
.header{
  margin: 0;
}
.titleDiv {
  width: 100%;
  border-bottom: 2px solid #3D8696;
  padding: 0;
  margin: 0 0 .5rem 0;
}
.hidden {
  display: none;
}

/* ---------------------- NAV BUTTONS FLEXBOX ----------------------*/
.navButtonDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.navButtonDivIntro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

.navButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: var(--mainColor-light);
  color: var(--whiteText);
  min-width: 150px;
  max-width: 200px;
  padding: 5px 0;
  border-radius: 0;
  border: 2px solid var(--mainColor);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.ui-button-text-only:hover{
  padding: 5px 0;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.ui-button-text-only:focus{
  padding: 5px 0;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
}

.arrow {
  height: 50px;
  width: 50px;
  border: none;
  margin: 2px;
}

.arrow.back.active {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240back.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}

.arrow.back.active:hover {
  height: 54px;
  width: 54px;
  margin: 0px
}

.arrow.back {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240backgrey-50.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}

.arrow.next.active {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}

.arrow.next {
  height: 50px;
  width: 50px;
  background-image: url('./Media/iconmonstr-arrow-4-240grey-50.png');
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
}

.arrow.next.active:hover {
  height: 54px;
  width: 54px;
  margin: 0px
}

/* ---------------------- Intro Page ---------------------- */
.tagline {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  line-height: 1.6rem;
}

.taglineDiv {
  margin-top: 2rem;
}

.introPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introPageImage, .selectSourcePageImage {
  max-width: 100%;
  align-self: center;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.introPageText {
  line-height: 1.3rem;
  list-style: none;
  padding: 0;
  margin: 8px 0;
}

.introPageText li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
.introPageText li:before {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  background-image: url('./Media/pawprint.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}

/* .registerToSaveText {
  font-size: .6rem;
  margin: 0;
  padding: 0;
} */

/* ---------------------- Source Page ---------------------- */
.selectSourcePageDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectSourcePageImage {
  width: 80%;
  object-fit: cover;
  object-position: 50% 90%;
  height: 40vh;
  margin: 10px 0 0 0;
}

.sourceQuestionText {
  text-align: center;
  margin: 15px auto;
}

.sourceButton {
  margin: 6px 0;
  width: 50%;
  border-radius: 0;
  padding: 8px 0;
  min-width: 200px;
  max-width: 300px;
  background-color: var(--lightColor);
  color: var(--darkColor);
  border: 2px solid var(--mainColor);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.sourceButton:hover {
  background: var(--mainColor);
  color: var(--whiteText);
  border: var(--mainColor) 2px solid;
  padding: 8px 0;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.sourceButton:focus {
  background: var(--mainColor);
  color: var(--whiteText);
  border: var(--mainColor) 2px solid;
  padding: 8px 0;
}

.ui-tooltip .ui-tooltip-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  color: var(--darkColor);
  font-size: 0.8rem;
  background-color: var(--tooltipBackground);
  border: 1px solid var(--tooltipBorder);
}

.moreInfoModal {
  display: inline-flex;
  padding-left: 5px;
}

.moreInfoModal:hover {
  cursor: pointer;
}

/* ---------------------- Question Page ---------------------- */
.basicQuestion{
  display: flex;
  flex-direction: column;
}
.basicQuestion-Question{
  display: flex;
  justify-content: center;
  padding: 3rem 2rem 2rem 2rem;
  font-size: 150%;
  font-weight: 700;
}

.answer{
  width: 65%;
  margin: 0 auto;
}

.answer input[type="radio"] {
  display: none;
}

.answer label {
  width: 100%;
  display: block;
  border: 2px solid var(--mainColor);
  font-size: 120%;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  /* box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.35); */
  position: relative;
}
.answer input[type="radio"]:checked + label {
  background: var(--mainColor);
  color: var(--whiteText);
  /* box-shadow: 0px 0px 20px hsla(191, 42%, 41%, 0.75); */
}
.answer input[type="radio"]:checked + label:after {
    background-color: var(--whiteText);
    border: 2px solid var(--mainColor);
    content: url('./Media/check.svg');
    position: absolute;
    top: 15%;
    left: 3%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    /* box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, .75); */
}

/* ---------------------- Login/Registration Pages ---------------------- */
.portal-input{
  height: 40px;
  font-size: 14px;
  margin: 1.2rem 0;
  width: 100%;
  border-radius: 0;
}

.portal-label{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.navButtonDiv.portal {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin: 0 auto;
  margin-top: 2rem;
}
.navButtonDiv.back {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 1rem;
}

.ui-float-label input:focus ~ label,
.ui-float-label input.ui-state-filled ~ label,
.ui-float-label .ui-inputwrapper-focus ~ label,
.ui-float-label .ui-inputwrapper-filled ~ label {
  top:0.2rem;
  font-size:18px;
}
.user-portal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.login-div, .register-div{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.login.ui-button-text-only:hover{
  padding: 6px 60% 6px 40%;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
}

Button.navButton.login {
  border: 2px solid var(--mainColor);
  padding: 6px 60% 6px 40%;
} 
.ui-button.ui-widget.ui-state-default.ui-corner-all.navButton.register.ui-button-text-only:hover{
  padding: 6px 67% 6px 33%;
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
}

Button.navButton.register {
  border: 2px solid var(--mainColor);
  padding: 6px 67% 6px 33%;
} 

/* ---------------------- GROWL INFO ---------------------- */

.ui-growl.ui-growl-bottomright {
	bottom: 150px;
  right: 50px;
  width: 15em;
}

.ui-growl-item-container {
  background-color: var(--darkColor);
}

.ui-growl-message {
	padding: .25em;
  margin: 0;
}

/* ---------------------- Conditional Statements ---------------------- */

.error{
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid var(--tooltipBorder);
  background-color:var(--alertLvl1);
  margin-bottom: 1rem;
  color: var(--darkColor);
  font-style: italic;
}

/* ---------------------- feeling Page ---------------------- */
.feeling-question{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  /* word-break: break-all; //Maybe try and make this one line????? */
  padding: 1rem 2rem;
  font-size: 150%;
}
.feeling-array{
  width: 60%;
  margin: 0 auto;
}
.feeling {
  width: 100%;
  margin-top: 12px;
}

.color-1{
  background-color: var(--alertLvl1);
  color: var(--whiteText);
}
.color-2{
  background-color: var(--alertLvl2);
  color: var(--darkColor);
}
.color-3{
  background-color: var(--whiteText);
  color: var(--darkColor);
}
.color-4{
  background-color: var(--alertLvl4);
  color: var(--darkColor);
}
.color-5{
  background-color: var(--mainColor);
  color: var(--whiteText);
}

.answer.feeling input[type="radio"]:checked + label {
  background-color:initial;
  color: inherit;
}
/* ---------------------- Results Page ---------------------- */
.resultsPageDiv{
  width: 95%;
  margin: 0 auto;
  font-size: 18px;
}
.resultsPageDiv h3{
  margin: 5px auto;
}

.resultsColorImage {
  margin-top: 5px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 32vh;
}

.resultsText{
  font-size: 120%
}

.result-feeling-question{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.detailedResultsDiv {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border: var(--darkColor) solid 1px;
}

.detailedResultsButton {
  width: 80%;
  border-radius: 0;
  background-color: var(--tooltipBackground);
  border: 2px solid var(--mainColor);
  color: var(--darkColor);
  margin: 8px 10%;
  font-size: 1rem;
  padding:10px 0;
  font-weight: 700;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.detailedResultsButton:hover {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
  
}
.ui-accordion-header.ui-widget.ui-state-default.ui-corner-all.detailedResultsAccordion:hover {
  border: 2px solid var(--mainColor);
  background-color: var(--mainColor);
  color: var(--whiteText);
  
}
.ui-accordion-content {
background-color: transparent;
}

.ui-accordion-header {
  border-radius: 0;
  background-color: var(--tooltipBackground);
  border: .5px solid var(--tooltipBorder);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkColor);
}

.ui-accordion-header:hover {
  background-color: var(--tooltipBackground);
  border: .5px solid var(--tooltipBorder);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkColor);
}

.nav-results{
  width: 100%;
  margin-top: 1rem;
}

/* -------- Result Select ------- */
/* .ui-selectbutton{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150px;
}
.ui-selectbutton .ui-button {
  display: flex;
  flex-grow: 1;
}

.ui-button.ui-widget.ui-state-default.ui-button-text-only:hover{
  background: hsla(191, 42%, 41%, .5);
}
.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-state-active{
  background: var(--mainColor);
  color: var(--whiteText);
} */

.result-feeling-array{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 5px auto;
}
.result-feeling{
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  min-width: 180px;
  font-size: 0.9rem;
}

.result-feeling label{
  margin: 0;
  border-bottom: none;
  padding: 6px 0;
}

.result-feeling-array .result-feeling  input[type="radio"]:checked + label {
  background-color:initial;
  color: inherit;
}

.result-feeling input[type="radio"]:checked + label:after {
    background-color: var(--whiteText);
    border: 1px solid var(--mainColor);
    content: url('./Media/check.svg');
    position: absolute;
    top: 15%;
    left: 5%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

/* ---------------------- Media Queries ---------------------- */

@media all and (min-width: 768px) {
  header {
    font-size: 1.75rem;
    margin: 0;
  }
  
  .introPageDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .introPageImage {
    max-width: 50%;
  }

  .introPageText {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 10px;
  }

  .resultsColorImage {
    height: 40vh;
  }
  .navButtonDiv {
    justify-content: space-between;
  }

  .ui-selectbutton{
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .result-feeling label{
    border: 1.5px solid var(--mainColor);
    border-right: none;
  }
  .result-feeling{
    display: flex;
    flex-grow: 1;
    min-width: 50px;
  }

  .result-feeling-array{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .result-feeling input[type="radio"]:checked + label:after {
    left: 2%;
}

  .answer, .feeling {
    width: 50%;
  }
  
  /* .megaWrapper {
    background-color: #3c849440;
  } */

  .login-div, .register-div{
    width: 40%;
  }
  .navButtonDiv.portal {
    width: 85%;
  }

  @media
}