
* {
  box-sizing: border-box;
}

body {
  margin: 40px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.megaWrapper {
  padding: 20px;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #BEC1BE;
}

/* p {
  max-width: 90%;
} */

/* Intro Page */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jaldi', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.header {
  margin: 0;
}

.headerImage {
  /* max-width: 10%; */
  min-height: 4rem;
}

.titleDiv {
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #3D8696;
  padding: 0;
}

.tagline {
  font-family: 'Jaldi', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.introPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introPageImage, .selectSourcePageImage {
  max-width: 100%;
  align-self: center;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 25px 0;
}

.introPageText {
  line-height: 1.3rem;
  list-style: none;
  padding: 0;
}

.introPageText li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}
.introPageText li:before {
  content: '';
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  background-image: url('./Media/pawprint.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}

.introPageText {
  margin: 8px 0;
}

.navButtonDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.navButton, .sourceButton {
background-color: #3D8696;
color: white;
border-radius: 0;
padding: 8px 0;
max-width: 300px;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2rem;
}

.navButton {
  min-width: 200px;
}

/* Source Page */

.selectSourcePageImage {
  max-width: 50%;
}

.sourceQuestionText {
  text-align: center;
}

.selectSourcePageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sourceButton {
  margin: 15px 0;
  width: 50%;
}

.ui-tooltip {
  color:#a52a2a;
}

/* Results Page */

.resultsColorImage {
  width: 90%;
}

@media all and (min-width: 768px) {
  header {
    font-size: 2rem;
    margin: 0;
  }
  
  .header {
    margin: 0;
  }
  
  .headerImage {
    /* max-width: 10%; */
    max-height: 2.4rem;
  }
 
  .introPageDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .introPageImage {
    max-width: 50%;
  }

  .introPageText {
    margin-top: 35px;
    margin-left: 40px;
  }

}
